                <div class="pub" >
                    <ul class="diaporama1">
                        <li><img src="@routes.Assets.at("images/bedroom/1.jpg")" alt="On the road again" title="Nos chambres" /></li>
                        <li><img src="@routes.Assets.at("images/bedroom/2.jpg")" alt="Venice Beach, California" title="Nos chambres"  /></li>
                        <li><img src="@routes.Assets.at("images/bedroom/5.jpg")" alt="Chambres Haut standing" title="Les meilleures chambres et prix abordables" /></li>
                        <li><img src="@routes.Assets.at("images/bedroom/4.jpg")" alt="Universal Studios" title="Connectez vous !" /></li>
                        <li><img src="@routes.Assets.at("images/bedroom/6.jpg")" alt="Hollywood Sign" title="En cas d echec connexion , contactez l administrateur" /></li>
                    </ul>
                </div>